include README.md
include AUTHORS
include LICENSE
include CMakeLists.txt
recursive-include cmake *
recursive-include src *
recursive-include tutorial *
recursive-include examples *
recursive-include platforms *
recursive-include docs *
recursive-include etc *
recursive-include wheels *
recursive-include workflows *
recursive-exclude toast __pycache__
prune docs/_build
recursive-include toast/aux *
