include README.md
include AUTHORS
include LICENSE
include CMakeLists.txt
recursive-include src *
recursive-include tutorial *
recursive-include examples *
prune examples/job*
prune examples/data
recursive-include platforms *
recursive-include cmake *
recursive-include docs *
prune docs/_build
recursive-include toast/aux *
prune toast/pybind11
