# Conda requirements for building toast
compilers
cmake
make
ninja
python
pip
scikit-build-core>=0.11
pybind11>=3.0
setuptools>=80
setuptools-scm>=8
libopenblas=*=*openmp*
libblas=*=*openblas
fftw
liblapack
suitesparse
libaatm
numpy
scipy
astropy
healpy
h5py
ephem
tomlkit
traitlets
matplotlib
psutil
ruamel.yaml
wurlitzer
pshmem>=1.3.3
flacarray>=0.4.0
qpoint
ducc0
# For optional packages
cfitsio
autoconf
automake
m4
libtool
