# Use pre-built docker containers to run our unit tests on different python versions.

name:  Run Test Suite

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - toast3

jobs:
  linux:
    name: Linux with Python-${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      # Ensure that a test continues even if another fails.  Useful for
      # debugging multiple problems in parallel.
      fail-fast: false
      matrix:
        include:
          - python: "3.7"
            pyshort: "37"
          - python: "3.9"
            pyshort: "39"
          # - python: "3.10"
          #   pyshort: "310"
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Pull Dependency Image
        run: docker pull hpc4cmb/toast-deps-py${{ matrix.pyshort }}:latest

      - name: Install
        run: |
          docker run -v "$(pwd)":/home/toast --name="test_py${{ matrix.pyshort }}" \
            hpc4cmb/toast-deps-py${{ matrix.pyshort }}:latest \
            /home/toast/platforms/install_test_runner_linux.sh
          docker commit -m "test runner" test_py${{ matrix.pyshort }} \
            test_runner:py${{ matrix.pyshort }}

      # - name: Test Documentation Build
      #   run: docker run -v "$(pwd)":/home/toast test_runner:py${{ matrix.pyshort }} /home/toast/docs/build_docs.sh

      - name: Run Serial Tests
        run: |
          docker run -e MPI_DISABLE=1 -e OMP_NUM_THREADS=2 \
            test_runner:py${{ matrix.pyshort }} \
            python -c 'import toast.tests; toast.tests.run()'

      - name: Run MPI Tests
        run: |
          docker run -e OMP_NUM_THREADS=2 \
            test_runner:py${{ matrix.pyshort }} \
            mpirun -np 2 python -c 'import toast.tests; toast.tests.run()'

  macos:
    name: MacOS with Python-${{ matrix.python }}
    runs-on: macos-latest
    strategy:
      # Ensure that a test continues even if another fails.  Useful for
      # debugging multiple problems in parallel.
      fail-fast: false
      matrix:
        include:
          # - python: "3.7"
          #   pyshort: "37"
          - python: "3.9"
            pyshort: "39"
          # - python: "3.10"
          #   pyshort: "310"
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Conda Base
        run: |
          curl -SL -o miniforge.sh https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-$(uname -m).sh
          bash miniforge.sh -b -f -p ${HOME}/conda
          ${HOME}/conda/bin/conda init bash

      - name: Check Conda Config
        shell: bash -l {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show

      - name: Install
        shell: bash -l {0}
        run: |
          conda activate base
          ./platforms/conda_dev_setup.sh base
          conda install mpi4py
          ./platforms/conda.sh base

      - name: Run Serial Tests
        shell: bash -l {0}
        run: |
          conda activate base
          export OMP_NUM_THREADS=2
          export MPI_DISABLE=1
          python3 -c 'import toast.tests; toast.tests.run()'
          unset MPI_DISABLE

      # - name: Run MPI Tests
      #   shell: bash -l {0}
      #   run: |
      #     conda activate base
      #     export OMP_NUM_THREADS=2
      #     mpirun -np 2 python -c 'import toast.tests; toast.tests.run()'
